<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml schema and schema location is configured -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
 
	<display-name>Archetype Created Web Application</display-name>
 <!-- servlet tag to configure the dispatcher servlet -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- indicates that this servlet should be loaded 
		(instantiated and have its init() called) on the startup of the Web application -->
		<load-on-startup>1</load-on-startup>
	</servlet>
 <!-- mapping for servlet using the pattern -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 <!-- the file which is common to whole application is added in context param  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/ApplicationConfig.xml,/WEB-INF/spring-security.xml</param-value>
	</context-param>
 <!--  listener to make your web application aware of the Spring context loader  -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!--  -->
	<filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
 
 
<filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
	
</web-app>
